<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=0.38,minimum-scale=0.35,maximum-scale=2,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>珠海大台风</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/lib/vue.js" type="text/javascript"> </script>
</head>
<body>
<div id="index">
    <div class="container">
        <div class="head">
            <div class="narbar-brand">
                <img class="logo" src="img/head1.jpg" >
            </div>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="index.html">首页</a></li>
                <li><a href="publish/monitor.html">气象监测</a></li>
                <li><a href="publish/history/dailyweather.html">气候资料</a></li>
            </ul>
        </div>
        <div class="warning"><span>当前预警：</span><span v-for="wraning in warningList" v-text="wraning"></span></div>
        <div class="row ">
            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item"><span class="title">天气实况</span></li>
                    <div class="condition">
                        <div id="conditionTitle">珠海国家基本气象站(59488)</div>
                        <div class="row ">
                            <div class="col-xs-6">
                                <div><span>气温:</span><span v-text="conditionList[0]"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><span>降水:</span><span v-text="conditionList[1]"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><span>风向:</span><span v-text="conditionList[2]"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><span>风力:</span><span v-text="conditionList[3]"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><span>空气质量:</span><span v-text="conditionList[4]"></span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><span>相对湿度:</span><span v-text="conditionList[5]"></span></div>
                            </div>
                        </div>
                        <div><span  v-text="conditionList[7]"></span></div>
                    </div>
                    <div>
                        <li class="list-group-item"><span class="title">天气预报</span></li>
                        <div class="forecast">
                            <div v-for="forecast in forecastList" v-text="forecast"></div>
                        </div>
                        <li class="list-group-item"><span class="title">天气实景</span></li>
                        <div >
                            <span class="label label-info">香洲</span>
                            <div><img class="weatherPicture" src="http://www.zhmb.org.cn/jeecms/static/common/images/sj5.jpg?" alt=""></div>
                            <span class="label label-info">雷达山</span>
                            <div><img class="weatherPicture" src="http://www.zhmb.org.cn/jeecms/static/common/images/sj4.jpg??" alt=""></div>
                            <span class="label label-info">平沙</span>
                            <div><img class="weatherPicture" src="http://www.zhmb.org.cn/jeecms/static/common/images/sj1.jpg??" alt=""></div>
                        </div>
                </ul>
            </div>
            <div class="col-xs-5 ">
                <ul class="list-group">
                    <li class="list-group-item"><span class="title">自动站监测实况</span></li>
                    <div  class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            选择时间<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li @click="setDetectTime(00)" ><a href="#">00分</a></li>
                            <li @click="setDetectTime(10)" ><a href="#">10分</a></li>
                            <li @click="setDetectTime(20)" ><a href="#">20分</a></li>
                            <li @click="setDetectTime(30)" ><a href="#">30分</a></li>
                            <li @click="setDetectTime(40)" ><a href="#">40分</a></li>
                            <li @click="setDetectTime(50)" ><a href="#">50分</a></li>
                        </ul>
                    </div>
                    <div>
                        <span class="label label-info">实时气温</span>
                        <img class="weatherCondition" :src="'http://www.zhmb.org.cn/jeecms/resource/OCX/Temp/Plane/zhuhai'+detectTime+'.png'" alt="">
                        <span class="label label-info">实时雨量</span>
                        <img class="weatherCondition" :src="'http://www.zhmb.org.cn/jeecms/resource/OCX/Rain/Plane/zhuhai'+detectTime+'.png'" alt="">
                        <span class="label label-info">实时风速</span>
                        <img class="weatherCondition" :src="'http://www.zhmb.org.cn/jeecms/resource/OCX/Wind/Plane/zhuhai'+detectTime+'.png'" alt="">
                    </div>
                </ul>
            </div>
            <div class="col-xs-4 ">
                <ul class="list-group">
                    <li class="list-group-item"><span class="title">实时雷达</span></li>
                    <span class="label label-info">珠海雷达</span>
                    <img class="radar" src="http://www.zhmb.org.cn/jeecms/static/ldt/20.jpg" alt="">
                    <span class="label label-info">广州雷达</span>
                    <img class="radar" :src="'http://image.nmc.cn/product/'+radarTime.year+'/'+radarTime.month+'/'+radarTime.day+'/RDCP/SEVP_AOC_RDCP_SLDAS_EBREF_AZ9200_L88_PI_'+radarTime.year+radarTime.month+radarTime.day+radarTime.hour+radarTime.minute+'00000.PNG'" alt="">
                    <span class="label label-info">华南雷达</span>
                    <img class="radar" :src="'http://image.nmc.cn/product/'+radarTime.year+'/'+radarTime.month+'/'+radarTime.day+'/RDCP/SEVP_AOC_RDCP_SLDAS_EBREF_ASCN_L88_PI_'+radarTime.year+radarTime.month+radarTime.day+radarTime.hour+radarTime.minute+'00001.PNG'" alt="">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
