<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=0.38,minimum-scale=0.35,maximum-scale=2,user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>气象监测</title>
  <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="../css/monitor.css">
  <script src="../js/lib/vue.js"></script>
  <script src="../js/lib/Chart.js"></script>
</head>
<body>
  <div id="monitor">
   <div class="container">
      <div class="head">
          <div class="narbar-brand">
              <img class="logo" src="../img/head1.jpg" >
          </div>
          <ul class="nav nav-pills">
            <li class="active">
              <a href="../index.html">首页</a></li>
            <li><a href="../publish/monitor.html">气象监测</a></li>
              <li><a href="../publish/history/dailyweather.html">气候资料</a></li>
          </ul>
      </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="list-group">
              <button type="button" class="list-group-item active" @click="showmap">站点地图</button>
              <button type="button" class="list-group-item" @click="showchart">数据曲线</button>
            </div>
        </div>
        <div class="col-xs-10">
          <div id="map" v-show="mapflag"></div>
          <div id="chart" v-show="chartflag">
            <div  class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   选择站点
                     <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li @click="drawchart(0)" v-if="weatherList[0]"><a href="#">金湾观测站</a></li>
                  <li @click="drawchart(1)" v-if="weatherList[1]"><a href="#">香洲观测站</a></li>
                  <li @click="drawchart(2)" v-if="weatherList[2]"><a href="#">板樟观测站</a></li>
                </ul>
        </div>
        <div class="chartshow">
           <div id="temchartshow" ><canvas id="temchart" ></canvas></div>
            <div id="rhuchartshow" ><canvas id="rhuchart"></canvas></div>
              <div id="prschartshow" ><canvas id="prschart"></canvas></div>
              <div id="winchartshow" ><canvas id="winchart"></canvas></div>
              <div id="windirchartshow" ><canvas id="windirchart"></canvas></div>
                <div id="prechartshow" ><canvas id="prechart"></canvas></div>
        </div>
        </div>
          </div>
    </div>
</div>
</div>

<script src="https://webapi.amap.com/maps?v=1.4.15&key=4cea5d21f40dcdca8e2156da99253379"></script>
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/bootstrap.js"></script>
<script src="../js/monitor.js"></script>

</body>
</html>
