body{
  background-color:#f5f5f5;
  height:auto;
}

.container {
  width: 1080px !important;
  max-width: none !important;
  background-color: white;
  padding:0 0 0 0;
}
.logo{
    padding:10px 10px;
    height:150px;
    width:100%;
}
.head{
    background-color: #e3f1fd;
    border-color:#e3f1fd;
}
.list-group{
  padding-top: 20px;
  padding-bottom: 570px;
}
.dropdown{
  padding-top: 20px;
}
#map{
position:absolute;
width:95%;
height: 600px;
top: 20px;
}
#temchartshow,#rhuchartshow,#prschartshow,#winchartshow,#windirchartshow,#prechartshow{
  width: 800px;
  margin-left: 50px;
  margin-top: 10px;
}
